<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../node_modules/bootstrap3/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/login.css">
</head>
<body>
<div class="admin">
    <div class="header">
        <h1>用户设置</h1>
    </div>
    <form action="" method="post">
        <div>
            <label>账号</label>
            <p>email@qq.com</p>
        </div>
        <div>
            <label for="nickname">昵称</label>
            <input type="text" class="form-control" id="nickname" name="nickname">
        </div>
        <div>
            <label class="control-label">介绍：</label>
            <textarea class="form-control" rows="10"></textarea>
        </div>
        <div class="checkbox">
            <label for="name">性别</label>
            <label class="radio-inline">
                <input type="radio" name="1" value="option1" checked> 男
            </label>
            <label class="radio-inline">
                <input type="radio" name="1" value="option2"> 女
            </label>
        </div>
        <button type="submit" class="btn btn-success btn-block">保存</button>
    </form>
</body>
</html>